@import "tailwindcss";

@theme {
  --color-border :hsl(var(--border));
  --color-background :hsl(var(--background));
  --color-foreground :hsl(var(--foreground));

  --color-primary :hsl(var(--primary));
  --color-primary-foreground :hsl(var(--primary-foreground));

  --color-card :hsl(var(--card));
}

/* defines responsive css variables that changes theme accordingly */
@layer base {
  :root {
    --background: 222 47% 4%;
    --foreground: 213 31% 91%;

    --card: 222 47% 8%;

    --primary: 250 65% 65%;
    --primary-foreground: 213 31% 91%;

    --border: 217 33% 20%;

    --wave-start: #3A29FF;
    --wave-middle: #FF94B4;
    --wave-end: #FF3232;
  }

  .light {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;

    --primary: 250 47% 60%;
    --primary-foreground: 210 40% 98%;

    --border: 214 32% 91%;

    --wave-start: #fbe8ff;
    --wave-middle: #ffb4cb;
    --wave-end: #ffe9e9;
  }

  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 640px) {
    max-width: 640px;
  }

  @media (width >= 768px) {
    max-width: 768px;
  }

  @media (width >= 1024px) {
    max-width: 1024px;
  }

  @media (width >= 1280px) {
    max-width: 1280px;
  }

  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/* apply applies tailwind css to your element*/
/* utility ensures that the css override you create does not interfere with tailwind */
@utility text-glow {
  @apply relative;
  text-shadow: 0 0 10px rgba(167, 139, 250, 0.5);
}

@utility card-hover {
  @apply transition-transform duration-300 hover:scale-[1.02] hover:shadow-lg;
}

@utility gradient-border {
  @apply relative rounded-md;
  background: linear-gradient(to right, hsl(var(--card)), hsl(var(--card)));
  background-clip: padding-box;
  border: 1px solid transparent;
}

@utility cool-button {
  @apply px-6 py-2 rounded-full bg-primary/30 text-primary-foreground font-medium transition-all duration-300 hover:shadow-[0_0_10px_rgba(139,92,246,0.5)] hover:scale-105 active:scale-95;
}

@utility glass-button {
  @apply px-6 py-2 rounded-full transition-all duration-300 hover:shadow-[0_0_10px_rgba(139,92,246,0.3)] hover:bg-primary/10;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
